<!--
  Starts the provider and loads the provided way pint & trajectory list
  -->
  
<launch>
  <arg name="filename" default="simlroom.yaml" />
  <arg name="runtest"     default="true"/>
  
  
  <node pkg="waypoint_nav" name="waypoint_provider" type="waypoint_provider"  output="screen" >
    <param name="filename" value="$(find waypoint_nav)/config/$(arg filename)" />
  </node>
  <group if="$(arg runtest)">
    <node pkg="waypoint_nav" name="testprovider" type="testprovider" output="screen"/>
  </group>

</launch>
